@model IEnumerable<ToDoList.Models.Database.Topic>

@{
    ViewData["Title"] = "Teme";
}

@{
    await Html.RenderPartialAsync("_Used_routes");
}

<h1>Popis tema i pripadnih zadataka</h1>

@foreach (var item in Model) {
    <h2>@item.Name</h2>
    <ul>
        @foreach(var todo in item.ToDos){
            <li>@todo.Name</li>
        }
    </ul>
}